In [6]:
# Step 1: Import necessary libraries
import pandas as pd
import re
from sentence_transformers import SentenceTransformer
import hdbscan
import numpy as np
import time
from sklearn.preprocessing import StandardScaler

In [7]:
df=pd.read_excel('nadilFInalizedDataset.xlsx')

In [8]:
df.head()

        date                 desiption   debit    credit   balance
0 2022-09-29                   CSH DEP     NaN   1000.00      1000
1 2022-10-31                       TRF     NaN  17480.00     18480
2 2022-10-31                       INT     NaN      4.64  18484.64
3 2022-11-06          t ahirt OTHBNK T  6030.0       NaN  12454.64
4 2022-11-06  010001088282101 OTHBNK T  3030.0       NaN   9424.64

In [9]:
# Step 3: Data Preprocessing - Normalize Text & Expand Abbreviations

# Define abbreviation dictionary
abbreviations = {
    'PYT': 'Payment',
    'TRF': 'Transfer',
    'DEP': 'Deposit',
    'WDL': 'Withdrawal',
    'WD': 'Withdrawal',
    'POS': 'Point of Sale',
    'ATM': 'ATM Withdrawal',
    'CHQ': 'Cheque',
    'DD': 'Demand Draft',
    'BT': 'Bank Transfer',
    'ACH': 'Automated Clearing House',
    'NEFT': 'National Electronic Funds Transfer',
    'RTGS': 'Real-Time Gross Settlement',
    'IMPS': 'Immediate Payment Service',
    'UPI': 'Unified Payments Interface',
    'INT': 'Interest',
    'CHG': 'Charge',
    'FEE': 'Fee',
    'TXN': 'Transaction',
    'REV': 'Reversal',
    'EMI': 'Equated Monthly Installment',
    'CC': 'Credit Card',
    'POS REF': 'Point of Sale Refund',
    'BIL': 'Bill Payment',
    'BILP': 'Bill Payment',
    'INV': 'Investment',
    'REF': 'Refund',
    'SAL': 'Salary Credit',
    'SL': 'Salary Credit',
    'TFR': 'Transfer'
}

# Function to clean text
def clean_text(text, abbr_dict):
    text = str(text).lower()  # Convert to lowercase
    for abbr, full_form in abbr_dict.items():
        text = re.sub(rf'\b{abbr.lower()}\b', full_form.lower(), text)
    return text

# Apply text cleaning to the 'Particulars' column
df['cleaned_particulars'] = df['desiption'].apply(lambda x: clean_text(x, abbreviations))

In [11]:
# Step 4: Separate Payments and Receipts Transactions

# Payments: Non-null 'Payments' column, null 'Receipts'
df_debit = df[df['debit'].notna() & df['credit'].isna()].copy()

# Receipts: Non-null 'Receipts' column, null 'Payments'
df_credit = df[df['credit'].notna() & df['debit'].isna()].copy()

In [12]:
df_credit.head()

        date desiption  debit    credit   balance cleaned_particulars
0 2022-09-29   CSH DEP    NaN   1000.00      1000         csh deposit
1 2022-10-31       TRF    NaN  17480.00     18480            transfer
2 2022-10-31       INT    NaN      4.64  18484.64            interest
6 2022-11-16       TRF    NaN   2587.50  11987.14            transfer
8 2022-11-30       INT    NaN  20240.00  31777.14            interest

In [13]:
df_debit.head()

,date,desiption,debit,credit,balance,cleaned_particulars
3,2022-11-06,t ahirt OTHBNK T,6030.0,NaN,12454.64,t ahirt othbnk t
4,2022-11-06,010001088282101 OTHBNK T,3030.0,NaN,9424.64,010001088282101 othbnk t
5,2022-11-15,RIB/RMB SE.CH 20 IBMB Chg,25.0,NaN,9399.64,rib/rmb se.ch 20 ibmb charge
7,2022-11-18,nadil Siriwardha MB SA TF,450.0,NaN,11537.14,nadil siriwardha mb sa tf
11,2022-12-24,nadil OTHBNK T,7530.0,NaN,27264.9,nadil othbnk t

In [15]:
# Step 5: Generate Sentence Embeddings

# Initialize Sentence Transformer model
model = SentenceTransformer('gtr-t5-large')

# Generate embeddings for Payments
credit_embeddings = model.encode(df_credit['cleaned_particulars'].tolist())

# Generate embeddings for Receipts
debit_embeddings = model.encode(df_debit['cleaned_particulars'].tolist())

In [17]:
# Step 6: Apply HDBSCAN Clustering for credit

# Standardize embeddings
scaler_credit = StandardScaler()
credit_embeddings_scaled = scaler_credit.fit_transform(credit_embeddings)

# Apply HDBSCAN
hdbscan_credit = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=True)
df_credit['Cluster'] = hdbscan_credit.fit_predict(credit_embeddings_scaled)

In [18]:
# Step 7: Apply HDBSCAN Clustering for debit

# Standardize embeddings
scaler_debit = StandardScaler()
debit_embeddings_scaled = scaler_debit.fit_transform(debit_embeddings)

# Apply HDBSCAN
hdbscan_debit = hdbscan.HDBSCAN(min_cluster_size=5, gen_min_span_tree=True)
df_debit['Cluster'] = hdbscan_debit.fit_predict(debit_embeddings_scaled)

In [24]:
# Step 8: Print Clusters for Payments
print("\n### Credit Clusters ###")

for cluster in sorted(df_credit['Cluster'].unique()):
    print(f"\nCluster {cluster}:")
    cluster_data = df_credit[df_credit['Cluster'] == cluster]
    print(cluster_data[['date','desiption', 'debit', 'credit','balance']])

### Credit Clusters ###

Cluster -1:
          date                  desiption  debit   credit   balance
14  2022-12-28            Harsha EFT OTHE    NaN  10000.0   58234.9
45  2023-03-02        Gajanayake EFT OTHE    NaN   6000.0  69048.99
89  2023-07-03  Boardim fees sav EFT OTHE    NaN   6000.0  39110.39
113 2023-08-05          069RB01 DEP (NOV)    NaN  12000.0  44163.23
114 2023-08-05  savindu board fe EFT OTHE    NaN   6000.0  50163.23
134 2023-08-19              susi EFT OTHE    NaN   1000.0  12803.23
146 2023-08-25           ROSHANA EFT OTHE    NaN    500.0  11993.23
158 2023-09-02            router EFT OTHE    NaN  11000.0  13297.97
159 2023-09-02  From Loku appach EFT OTHE    NaN   5000.0  18297.97
178 2023-09-22        water bill EFT OTHE    NaN    500.0   5590.47
184 2023-09-30         0022RB01 DEP (NOV)    NaN   5600.0  11870.47
230 2023-10-31                        INI    NaN     39.0   1039.35
232 2023-11-01             Apple EFT OTHE    NaN   1500.0    2537.4
273 2023-12-08           Laundry EFT OTHE    NaN    560.0   3340.89
295 2023-12-31          0089RB01 DEP(NOV)    NaN  10000.0  11602.89
349 2024-02-17          0313RB01 DEP(NOV)    NaN  10000.0  15915.54
403 2024-03-25         0059RR21 DEP (NOV)    NaN   3000.0    4043.1
430 2024-04-08           project EFT OTHE    NaN   4400.0   6256.51
516 2024-07-02             nadil EFT OTHE    NaN   2000.0  11870.58
560 2024-08-26  Trf by seniru 50 EFT OTHE    NaN   5000.0   6739.57
585 2024-09-11             N d11 EFT OTHE    NaN   4900.0   7797.54
627 2024-10-15             hanaa EFT OTHE    NaN   3000.0    5924.4
630 2024-10-16                       gift    NaN   3030.0    5374.4
646 2024-11-06    Salli arn wren EFT OTHE    NaN   4030.0   6727.38
674 2024-12-04           FT-Mah1 EFT OTHE    NaN   1000.0  13768.31
721 2025-01-24         0059RR21 DEP (NOV)    NaN  10000.0  11097.22

Cluster 0:
          date                 desiption  debit  credit   balance
18  2022-12-29              500 MB SA TF    NaN  5000.0  56891.15
97  2023-07-20      timeout:くくく MB SA TF    NaN  7100.0  43260.39
235 2023-11-03  256200170033745 MB SA TF    NaN  1000.0    2327.4

Cluster 1:
          date                 desiption  debit  credit   balance
58  2023-04-30                       INT    NaN  151.07  51824.93
71  2023-05-31                       INT    NaN  164.03  57531.41
84  2023-06-30                       INT    NaN  165.45  57208.66
106 2023-07-31                       INT    NaN  118.77  50929.16
154 2023-08-31                       INT    NaN   68.14  12331.37
186 2023-09-30                       INT    NaN   25.22   6265.69
260 2023-11-30                       INT    NaN    4.72   1261.12
296 2023-12-31                       INT    NaN    7.48  11610.37
324 2024-01-31                       INT    NaN   11.09   1350.09
367 2024-02-29                       INT    NaN   12.16    2017.7
415 2024-03-31                       INT    NaN    6.74   4056.84
445 2024-04-30                       INT    NaN   10.51   3281.02
571 2024-08-31                       INT    NaN   11.54   2616.11
603 2024-09-30                       INT    NaN    8.27   4084.81
639 2024-10-31                       INT    NaN   10.50    3332.9
729 2025-01-31                       INT    NaN   11.26   1048.48

Cluster 2:
          date desiption  debit    credit   balance
2   2022-10-31       INT    NaN      4.64  18484.64
8   2022-11-30       INT    NaN  20240.00  31777.14
21  2022-12-31       INT    NaN    114.05   68565.2
28  2023-01-31       INT    NaN    185.71  73200.91
39  2023-02-28       INT    NaN    186.69  75148.32
54  2023-03-31       INT    NaN    176.17  57752.66
470 2024-05-31       INT    NaN     11.25    921.75
512 2024-06-30       INT    NaN     10.93  13431.12
546 2024-07-31       INT    NaN     11.56  15572.14
669 2024-11-30       INT    NaN      5.18    995.56
698 2024-12-31       INT    NaN      8.65   1008.65

Cluster 3:
          date desiption  debit   credit   balance
0   2022-09-29   CSH DEP    NaN   1000.0      1000
26  2023-01-31   CSH DEP    NaN  21200.0   94215.2
30  2023-02-15   CSH DEP    NaN   3350.0  76541.63
49  2023-03-07   CSH DEP    NaN  10000.0  54883.99
393 2024-03-18   CSH DEP    NaN   5000.0    6023.1

Cluster 4:
          date           desiption  debit  credit   balance
75  2023-06-10  0069CB02 DEP (NOV)    NaN  5000.0  59463.21
522 2024-07-09  0069CB02 DEP (NOV)    NaN  2000.0   3000.58
525 2024-07-10  0069CB02 DEP (NOV)    NaN  3000.0   4010.58

Cluster 5:
          date           desiption  debit  credit  balance
308 2024-01-20   0069RB01 DEP(NOV)    NaN  5000.0     6349
557 2024-08-24  0069RB01 DEP (NOV)    NaN  2000.0  3019.57
607 2024-10-03   0069RB01 DEP(NOV)    NaN  5000.0   6024.4

Cluster 6:
          date           desiption  debit   credit  balance
254 2023-11-28   0003RB02 DEP(NOV)    NaN   3000.0   4035.4
286 2023-12-22   0003RB03 DEP(NOV)    NaN   2000.0  3452.89
388 2024-03-13   0003RB03 DEP(NOV)    NaN   5000.0   6043.1
610 2024-10-05  0003RB02 DEP (NOV)    NaN  10000.0  11054.4
623 2024-10-14  0003RB02 DEP (NOV)    NaN   5000.0   7776.4
718 2025-01-20  0003RB02 DEP (NOV)    NaN   5000.0  6068.22

Cluster 7:
          date           desiption  debit  credit  balance
326 2024-02-01   0057RS11 DEP(NOV)    NaN  3000.0  4349.54
398 2024-03-23   0057RS11 DEP(NOV)    NaN  5000.0   5633.1
602 2024-09-29   0057R511 DEP(NOV)    NaN  3000.0  4076.54
696 2024-12-31  0057RS11 DEP (NOV)    NaN   500.0     1460
708 2025-01-07  0057RS11 DEP (NOV)    NaN  1000.0  8728.22

Cluster 8:
          date          desiption  debit  credit   balance
136 2023-08-20  0057RB01 DEP(NOV)    NaN  5000.0  17073.23
305 2024-01-15  0057RB01 DEP(NOV)    NaN  2000.0      4384
340 2024-02-13  0057RB01 DEP(NOV)    NaN  5000.0   6465.54

Cluster 9:
          date           desiption  debit  credit   balance
166 2023-09-09  0057RB01 DEP (NOV)    NaN  5000.0  11870.47
483 2024-06-11  0057RB01 DEP (NOV)    NaN  5000.0   6031.19
658 2024-11-18  0057RB01 DEP (NOV)    NaN  2000.0   3000.38
700 2025-01-02  0057RB01 DEP (NOV)    NaN  7500.0   8508.22

Cluster 10:
          date          desiption  debit  credit   balance
128 2023-08-13  0256RB01 DEP(NOV)    NaN  4000.0  22223.23
148 2023-08-27  0256RB01 DEP(NOV)    NaN  3000.0  14793.23
210 2023-10-16  0256RB01 DEP(NOV)    NaN  3000.0   8000.35
211 2023-10-16  0256RB01 DEP(NOV)    NaN  1000.0   9000.35
221 2023-10-22  0256RB01 DEP(NOV)    NaN  5000.0   6790.35
225 2023-10-26  0256RB01 DEP(NOV)    NaN  3000.0   4130.35
238 2023-11-06  0256RB01 DEP(NOV)    NaN  5000.0    6247.4
262 2023-12-01  0256RB01 DEP(NOV)    NaN  5000.0   6260.89
270 2023-12-07  0256RB01 DEP(NOV)    NaN  5000.0   6110.89
277 2023-12-12  0256RB01 DEP(NOV)    NaN  5000.0   6001.89
282 2023-12-17  0256RB01 DEP(NOV)    NaN  3000.0   4141.89
313 2024-01-24  0256RB01 DEP(NOV)    NaN  2000.0      3029
316 2024-01-26  0256RB01 DEP(NOV)    NaN  5000.0      6269
337 2024-02-09  0256RB01 DEP(NOV)    NaN  5000.0   6000.54
347 2024-02-15  0256RB01 DEP(NOV)    NaN  5000.0   6920.54
352 2024-02-18  0256RB01 DEP(NOV)    NaN  5000.0   9855.54
360 2024-02-24  0256RB01 DEP(NOV)    NaN  5000.0   2405.54
372 2024-03-01  0256RB01 DEP(NOV)    NaN  5000.0   16517.1
379 2024-03-05  0256RB01 DEP(NOV)    NaN  5000.0    6018.1
383 2024-03-09  0256RB01 DEP(NOV)    NaN  5000.0    6028.1
449 2024-05-03  0256RB01 DEP(NOV)    NaN  2000.0    3000.5

Cluster 11:
          date           desiption  debit   credit   balance
60  2023-05-02  0256RB01 DEP (NOV)    NaN   6000.0  57817.38
67  2023-05-21  0256RB01 DEP (NOV)    NaN   5000.0  60967.38
157 2023-09-02  0256RB01 DEP (NOV)    NaN  11000.0  12297.97
181 2023-09-24  0256RB01 DEP (NOV)    NaN   3000.0   7310.47
189 2023-10-02  0256RB01 DEP (NOV)    NaN   6000.0  12004.43
408 2024-03-27  0256RB01 DEP (NOV)    NaN   1000.0    2000.1
409 2024-03-27  0256RB01 DEP (NOV)    NaN   1000.0    3000.1
414 2024-03-31  0256RB01 DEP (NOV)    NaN   3000.0    4050.1
424 2024-04-05  0256RB01 DEP (NOV)    NaN   5000.0   6236.51
438 2024-04-17  0256RB01 DEP (NOV)    NaN   5000.0   6000.51
442 2024-04-27  0256RB01 DEP (NOV)    NaN   5000.0   6840.51
472 2024-06-01  0256RB01 DEP (NOV)    NaN   5000.0   5921.19
489 2024-06-17  0256RB01 DEP (NOV)    NaN   5000.0   6783.19
492 2024-06-21  0256RB01 DEP (NOV)    NaN   5000.0   6023.19
495 2024-06-23  0256RB01 DEP (NOV)    NaN   2000.0   5743.19
505 2024-06-26  0256RB01 DEP (NOV)    NaN   5000.0   6000.19
528 2024-07-13  0256RB01 DEP (NOV)    NaN   5000.0   6050.58
532 2024-07-16  0256RB01 DEP (NOV)    NaN   5000.0   7530.58
537 2024-07-19  0256RB01 DEP (NOV)    NaN   3000.0   4000.58
539 2024-07-22  0256RB01 DEP (NOV)    NaN   1000.0   2070.58
551 2024-08-11  0256RB01 DEP (NOV)    NaN   5000.0   6109.57
553 2024-08-16  0256RB01 DEP (NOV)    NaN   5000.0   6079.57
555 2024-08-20  0256RB01 DEP (NOV)    NaN   5000.0   6049.57
566 2024-08-29  0256RB01 DEP (NOV)    NaN   5000.0   5974.57
582 2024-09-10  0256RB01 DEP (NOV)    NaN   5000.0   6027.54
588 2024-09-17  0256RB01 DEP (NOV)    NaN   4000.0   5037.54
597 2024-09-24  0256RB01 DEP (NOV)    NaN   3000.0   4086.54
636 2024-10-28  0256RB01 DEP (NOV)    NaN   4000.0    5004.4
642 2024-11-03  0256RB01 DEP (NOV)    NaN   2000.0   3002.38
643 2024-11-06  0256RB01 DEP (NOV)    NaN  10000.0  13002.38
649 2024-11-08  0256RB01 DEP (NOV)    NaN   5000.0   6067.38
653 2024-11-11  0256RB01 DEP (NOV)    NaN   5000.0   6000.38
661 2024-11-22  0256RB01 DEP (NOV)    NaN   5000.0   6270.38
664 2024-11-27  0256RB01 DEP (NOV)    NaN   5000.0   6190.38
671 2024-12-02  0256RB01 DEP (NOV)    NaN  15000.0  15995.31
677 2024-12-08  0256RB01 DEP (NOV)    NaN   5000.0   7770.31
683 2024-12-15  0256RB01 DEP (NOV)    NaN   5000.0      6000
688 2024-12-18  0256RB01 DEP (NOV)    NaN   3500.0      4540
690 2024-12-26  0256RB01 DEP (NOV)    NaN   1500.0      2510
692 2024-12-26  0256RB01 DEP (NOV)    NaN    500.0      2960
710 2025-01-08  0256RB01 DEP (NOV)    NaN   1500.0   2546.22
713 2025-01-13  0256RB01 DEP (NOV)    NaN   5000.0   6000.22

Cluster 12:
          date                desiption  debit    credit   balance
1   2022-10-31                      TRF    NaN  17480.00     18480
6   2022-11-16                      TRF    NaN   2587.50  11987.14
9   2022-11-30                      TRF    NaN     36.51  31813.65
10  2022-12-09                      TRF    NaN   2981.25   34794.9
16  2022-12-29                      TRF    NaN   1500.00   49734.9
17  2022-12-29                      TRF    NaN   2156.25  51891.15
20  2022-12-30                      TRF    NaN  16560.00  68451.15
25  2023-01-31                      TRF    NaN  15640.00   73015.2
36  2023-02-28                      TRF    NaN  15640.00  75641.63
37  2023-02-28                      TRF    NaN   2325.00  77966.63
53  2023-03-31                      TRF    NaN   1762.50  57576.49
193 2023-10-04                      TRF    NaN  22472.92  42342.35
293 2023-12-29                      TRF    NaN    850.00   1852.89
499 2024-06-23   Trf by seniru EFT OTHE    NaN    680.00   1918.19

Cluster 13:
          date                  desiption  debit  credit  balance
619 2024-10-11  FT-SmartPay Fund EFT OTHE    NaN  6500.0   7566.4
626 2024-10-14  FT-SmartPay Fund EFT OTHE    NaN   770.0   2924.4
707 2025-01-07  FT-SmartPay Fund EFT OTHE    NaN  1000.0  7728.22

Cluster 14:
          date                  desiption  debit  credit   balance
50  2023-03-10  FT FRM SEY -HELA EFT OTHE    NaN  6000.0  60883.99
167 2023-09-11  FT FRM SEY -HELA EFT OTHE    NaN  1000.0  12870.47
168 2023-09-11  FT FRM SEY -HELA EFT OTHE    NaN  1730.0  14600.47
173 2023-09-15  FT FRM SEY -HELA EFT OTHE    NaN   400.0  10010.47
199 2023-10-09  FT FRM SEY -HELA EFT OTHE    NaN  7630.0  32250.35
200 2023-10-09  FT FRM SEY -HELA EFT OTHE    NaN  1550.0  33800.35
213 2023-10-16  FT FRM SEY -HELA EFT OTHE    NaN  1030.0   9500.35
249 2023-11-16   FT FRM SEY-HELA EFT OTHE    NaN   430.0    1435.4
344 2024-02-14  FT FRM SEY -HELA EFT OTHE    NaN  1050.0   3905.54
418 2024-04-01  FT FRM SEY -HELA EFT OTHE    NaN   470.0   2496.51

Cluster 15:
          date               desiption  debit   credit   balance
64  2023-05-17  FROM DHAMMIKA EFT OTHE    NaN  10000.0  59227.38
77  2023-06-12       DHAMMIKA EFT OTHE    NaN   5000.0  62933.21
91  2023-07-04  From Dhammika EFT OTHE    NaN   5000.0  42880.39
141 2023-08-23       Dhammika EFT OTHE    NaN   5000.0  17783.23
264 2023-12-02       DHAMMIKA EFT OTHE    NaN  10000.0  14230.89
613 2024-10-07       Dhammika EFT OTHE    NaN  10000.0   11006.4

Cluster 16:
          date                 desiption  debit   credit   balance
12  2022-12-25  DHAMMIKA LAPTOP EFT OTHE    NaN  25000.0   52264.9
190 2023-10-02  DHAMMIKA LAPTOP EFT OTHE    NaN  10000.0  22004.43
299 2024-01-03  DHAMMIKA LAPTOP EFT OTHE    NaN  10000.0     11580
328 2024-02-02  DHAMMIKA LAPTOP EFT OTHE    NaN  10000.0  12319.54
370 2024-03-01  DHAMMIKA LAPTOP EFT OTHE    NaN  10000.0   11767.1
420 2024-04-02  DHAMMIKA LAPTOP EFT OTHE    NaN  10000.0  11066.51
452 2024-05-04  DHAMMIKA LAPTOP EFT OTHE    NaN  15000.0   16220.5
475 2024-06-04  DHAMMIKA LAPTOP EFT OTHE    NaN  10000.0  15631.19
509 2024-06-30  DHAMMIKA LAPTOP EFT OTHE    NaN  15000.0  16000.19
544 2024-07-30  DHAMMIKA LAPTOP EFT OTHE    NaN  15000.0  15910.58
574 2024-09-02  DHAMMIKA LAPTOP EFT OTHE    NaN  15000.0  17415.54

Cluster 17:
          date                  desiption  debit  credit   balance
44  2023-03-02        BODIM FEES EFT OTHE    NaN  6000.0  63048.99
93  2023-07-06             bodim EFT OTHE    NaN  5500.0  40350.39
99  2023-07-22  CEFT - Openheime EFT OTHE    NaN  1300.0  38060.39
142 2023-08-24             Money EFT OTHE    NaN  3000.0  20783.23
149 2023-08-27              Fuck EFT OTHE    NaN  4600.0  19393.23
207 2023-10-14               Ha1 EFT OTHE    NaN   500.0  20120.35
214 2023-10-17              CEFT EFT OTHE    NaN   530.0  10030.35
244 2023-11-11                nd EFT OTHE    NaN  2500.0    3507.4
497 2024-06-23              CEFT EFT OTHE    NaN  2280.0   3518.19
579 2024-09-06              none EFT OTHE    NaN  1000.0   3987.54

Cluster 18:
          date                desiption  debit   credit   balance
101 2023-07-28   Mahimas money EFT OTHE    NaN    200.0  37480.39
102 2023-07-28  Mahimas amount EFT OTHE    NaN  23600.0  61080.39
131 2023-08-17   Mahimas money EFT OTHE    NaN   1200.0  16863.23
234 2023-11-01         Manhima EFT OTHE    NaN    320.0    1327.4
401 2024-03-24          Mahima EFT OTHE    NaN   2200.0    3773.1
534 2024-07-16          Mahima EFT OTHE    NaN    750.0   3250.58
686 2024-12-15       FT-Mahima EFT OTHE    NaN    200.0      3970
702 2025-01-03       FT-Manima EFT OTHE    NaN   1600.0   9708.22

In [25]:
# Step 9: Print Clusters for Receipts
print("\n### Debit Clusters ###")

for cluster in sorted(df_debit['Cluster'].unique()):
    print(f"\nCluster {cluster}:")
    cluster_data = df_debit[df_debit['Cluster'] == cluster]
    print(cluster_data[['date','desiption', 'debit', 'credit','balance']])

### Debit Clusters ###

Cluster -1:
          date                  desiption     debit  credit   balance
7   2022-11-18  nadil Siriwardha MB SA TF    450.00     NaN  11537.14
15  2022-12-28                    CSH WDR  10000.00     NaN   48234.9
19  2022-12-29                    CSH WDR   5000.00     NaN  51891.15
22  2023-01-06              film OTHBNK T   3130.00     NaN   65435.2
23  2023-01-08              film OTHBNK T   3030.00     NaN   62405.2
27  2023-01-31                    CSH WDR  21200.00     NaN   73015.2
31  2023-02-15                    CSH WDR   3850.00     NaN  72691.63
35  2023-02-28                    C5H WDR    600.00     NaN  60001.63
48  2023-03-07   nadil , roshana OTHBNK T  12030.00     NaN  44883.99
98  2023-07-22    04199071001696 POS Trns   6500.00     NaN  36760.39
108 2023-08-01        0713201322 BILL PYT    200.00     NaN  50723.23
138 2023-08-20        0723728777 BILL PYT    200.00     NaN  16343.23
153 2023-08-31    004199071001696 ATM WDR   3030.00     NaN  12263.23
164 2023-09-08   0004199071001696 ATM ING      7.50     NaN  10930.47
216 2023-10-18           Manhima Fund Trf   1050.00     NaN   5950.35
275 2023-12-10        0740428273 BILL PYT    129.00     NaN   1181.89
284 2023-12-20        0740428273 BILL PYT    129.00     NaN   2482.89
319 2024-01-28        0740428273 BILL PYT     50.00     NaN      3509
362 2024-02-25        0789331970 BILL PYT   1000.00     NaN   7155.54
397 2024-03-21   ANFE03244199xxxx EXT TRF    500.00     NaN     633.1
407 2024-03-27         710620915 BILL PYT     33.00     NaN    1000.1
411 2024-03-28         710620915 BILL PYT     50.00     NaN    1420.1
496 2024-06-23           0003RB02 RCD VSA   4505.00     NaN   1238.19
498 2024-06-23  0004199071001696 POS Trns   2280.00     NaN   1238.19
500 2024-06-23           0003RB02 RCD VSA    505.00     NaN   1413.19
563 2024-08-27  0004199071001696 POS Trns   1430.00     NaN   2054.57
604 2024-09-30    0004199071001696 WH TAX      0.41     NaN    4084.4
680 2024-12-14  0004199071001696 POS Trns   2225.00     NaN   2365.31
705 2025-01-05           roshana Fund Trf   1000.00     NaN   6978.22
716 2025-01-18         710620915 BILL PYT    100.00     NaN   2428.22
719 2025-01-20            0401635 ATM WDR   3041.00     NaN   3027.22
720 2025-01-23           0004199071001696   1930.00     NaN   1097.22

Cluster 0:
          date                  desiption  debit  credit  balance
253 2023-11-24  SmsServiceCharge IBMB Chg   50.0     NaN   1035.4
289 2023-12-23  SmsServiceCharge IBMB Chg   50.0     NaN  1322.89
321 2024-01-29  SmsServiceCharge IBMB Chg   50.0     NaN     1429
365 2024-02-28  SmsServiceCharge IBMB Chg   50.0     NaN  4085.54
405 2024-03-25  SmsServiceCharge IBMB Chg   50.0     NaN   1963.1
456 2024-05-07  SmsServiceCharge IBMB Chg   50.0     NaN   8480.5
468 2024-05-26  SmsServiceCharge IBMB chg   50.0     NaN    950.5
503 2024-06-25  SmsServiceCharge IBMB Chg   50.0     NaN  1020.19
542 2024-07-26  SmsServiceCharge IBMB Chg   50.0     NaN   950.58
565 2024-08-28  SmsServiceCharge IBMB Chg   50.0     NaN   974.57
590 2024-09-17  SmsServiceCharge IBMB Chg   50.0     NaN  4040.54
634 2024-10-24  SmsServiceCharge IBMB Chg   50.0     NaN   1044.4
663 2024-11-24  SmsServiceCharge IBMB Chg   50.0     NaN  1190.38
691 2024-12-26  SmsServiceCharge IBMB chg   50.0     NaN     2460
725 2025-01-27  Smsservicecharge IBMB Chg   50.0     NaN  5837.22

Cluster 1:
          date                   desiption  debit  credit   balance
5   2022-11-15   RIB/RMB SE.CH 20 IBMB Chg   25.0     NaN   9399.64
52  2023-03-30  RIB/RMB SE. CH 20 IBMB Chg   40.0     NaN  55813.99
57  2023-04-29  RIB/RMB SE. CH 20 IBMB Chg   40.0     NaN  51673.86
70  2023-05-28  RIB/RMB SE. CH 20 IBMB Chg   40.0     NaN  57367.38
83  2023-06-30  RIB/RMB SE. CH 20 IBMB Chg   40.0     NaN  57043.21
104 2023-07-30   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN  51010.39
152 2023-08-31  RIB/RMB SE. CH 20 IBMB chg   40.0     NaN  15293.23
183 2023-09-30   RIB/RMB SE.CH 20 IBMB chg   40.0     NaN   6270.47
228 2023-10-31   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN   1010.35
259 2023-11-30   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN    1256.4
291 2023-12-26   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN   1052.89
323 2024-01-31   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN      1339
364 2024-02-28   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN   4125.54
413 2024-03-30   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN    1050.1
444 2024-04-29   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN   3270.51
469 2024-05-29   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN     910.5
507 2024-06-26   RIB/RMB SE.CH 20 IBMB chg   40.0     NaN   3430.19
543 2024-07-30   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN    910.58
570 2024-08-31   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN   2604.57
608 2024-10-04   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN    5984.4
635 2024-10-28   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN    1004.4
668 2024-11-30   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN    990.38
695 2024-12-28   RIB/RMB SE.CH 20 IBMB chg   40.0     NaN       960
727 2025-01-30   RIB/RMB SE.CH 20 IBMB Chg   40.0     NaN   3767.22

Cluster 2:
          date                  desiption   debit  credit   balance
3   2022-11-06           t ahirt OTHBNK T  6030.0     NaN  12454.64
4   2022-11-06   010001088282101 OTHBNK T  3030.0     NaN   9424.64
11  2022-12-24             nadil OTHBNK T  7530.0     NaN   27264.9
13  2022-12-26             nadil OTHBNK T  4030.0     NaN   48234.9
24  2023-01-22            tshirt OTHBNK T  5030.0     NaN   57375.2
32  2023-02-17   010001088282101 OTHBNK T  4030.0     NaN  68661.63
33  2023-02-21   010001088282101 OTHBNK T  5030.0     NaN  63631.63
34  2023-02-22   010001088282101 OTHBNK T  3030.0     NaN  60601.63
41  2023-03-02  nadilsiriwardhan OTHBNK T  6030.0     NaN  69108.99
42  2023-03-02       nadilroshan OTHBNK T  6030.0     NaN  63078.99
43  2023-03-02      nadilsusindu OTHBNK T  6030.0     NaN  57048.99
56  2023-04-05  nadilboardingFee OTHBNK T  6030.0     NaN  51713.86
62  2023-05-07             nadil OTHBNK T  6030.0     NaN  50757.38
182 2023-09-27             nadil Fund TrF  1000.0     NaN   6310.47

Cluster 3:
          date         desiption    debit  credit   balance
65  2023-05-19  0107928 Fund TrF   1230.0     NaN  57997.38
86  2023-07-01  0995963 Fund Trf   6030.0     NaN  51170.39
87  2023-07-01  0104998 Fund Trf   6030.0     NaN  45140.39
88  2023-07-03  0607029 Fund Trf  12030.0     NaN  33110.39
90  2023-07-04  0764894 Fund Trf   1230.0     NaN  37880.39
..         ...               ...      ...     ...       ...
709 2025-01-07  0227940 Fund Trf   7682.0     NaN   1046.22
711 2025-01-08  0818526 Fund Trf   1186.0     NaN   1360.22
714 2025-01-13  0997323 Fund Trf    442.0     NaN   5558.22
717 2025-01-19  0183685 Fund Trf   1360.0     NaN   1068.22
724 2025-01-26  0272098 Fund Trf   3060.0     NaN   5887.22

[103 rows x 5 columns]

Cluster 4:
          date             desiption    debit  credit   balance
38  2023-02-28  0159AB01 ATM ( NOV )   3005.0     NaN  74961.63
47  2023-03-06  0357AB01 ATM ( NOV )  10005.0     NaN  56913.99
307 2024-01-19     0336AB01 ATM(NOV)   1005.0     NaN      1349
339 2024-02-11     0313AB02 ATM(NOV)   2005.0     NaN   1465.54
348 2024-02-16     0313AB01 ATM(NOV)   1005.0     NaN   5915.54
562 2024-08-27     0003AB01 ATM(NOV)   3005.0     NaN   3484.57

Cluster 5:
          date                   desiption  debit  credit    balance
29  2023-01-31                      WH TAX   9.28     NaN   73191.63
40  2023-02-28                      WH TAX   9.33     NaN   75138.99
55  2023-03-31                      WH TAX   8.80     NaN   57743.86
59  2023-04-30                      WH TAX   7.55     NaN   51817.38
72  2023-05-31                      WH TAX   8.20     NaN   57523.21
85  2023-06-30                      WH TAX   8.27     NaN   57200.39
187 2023-09-30                      WH TAX   1.26     NaN    6264.43
416 2024-03-31                      WH TAX   0.33     NaN    4056.51
446 2024-04-30                      WH TAX   0.52     NaN     3280.5
471 2024-05-31                      WH TAX   0.56     NaN     921.19
513 2024-06-30                      WH TAX   0.54     NaN  13,430.5B
547 2024-07-31                      WH TAX   0.57     NaN   15571.57
572 2024-08-31                      WH TAX   0.57     NaN    2615.54
640 2024-10-31                      WH TAX   0.52     NaN    3332.38
670 2024-11-30                      WH TAX   0.25     NaN     995.31

Cluster 6:
          date desiption  debit  credit   balance
107 2023-07-31    WH TAX   5.93     NaN  50923.23
155 2023-08-31    WH TAX   3.40     NaN  12327.97
231 2023-10-31    WH TAX   1.95     NaN    1037.4
261 2023-11-30    WH TAX   0.23     NaN   1260.89
297 2023-12-31    WH TAX   0.37     NaN     11610
325 2024-01-31    WH TAX   0.55     NaN   1349.54
368 2024-02-29    WH TAX   0.60     NaN    2017.1
699 2024-12-31    WH TAX   0.43     NaN   1008.22
730 2025-01-31    WH TAX   0.56     NaN   1047.92

Cluster 7:
          date              desiption   debit  credit  balance
389 2024-03-13  4199071001696 ATM WDR  1530.0     NaN   4513.1
391 2024-03-14  4199071001696 ATM WDR  1530.0     NaN   1953.1
392 2024-03-16  4199071001696 ATM WDR   930.0     NaN   1023.1
394 2024-03-18  4199071001696 ATM WDR  1530.0     NaN   4493.1
395 2024-03-19  4199071001696 ATM WDR  2030.0     NaN   2463.1
396 2024-03-21  4199071001696 ATM WDR  1330.0     NaN   1133.1
399 2024-03-23  4199071001696 ATM WDR  3030.0     NaN   2603.1
400 2024-03-23  4199071001696 ATM WDR  1030.0     NaN   1573.1
402 2024-03-24  4199071001696 ATM WDR  2730.0     NaN   1043.1
404 2024-03-25  4199071001696 ATM WDR  2030.0     NaN   2013.1
406 2024-03-27  4199071001696 ATM WDR   930.0     NaN   1033.1
410 2024-03-27  4199071001696 ATM WDR  1530.0     NaN   1470.1
412 2024-03-28  4199071001696 ATM WDR   330.0     NaN   1090.1
417 2024-04-01  4199071001696 ATM WDR  2030.0     NaN  2026.51
419 2024-04-02  4199071001696 ATM WDR  1430.0     NaN  1066.51
422 2024-04-03  4199071001696 ATM WDR  2030.0     NaN  2246.51

Cluster 8:
          date                 desiption   debit  credit   balance
46  2023-03-03  0004199071001696 ATM WDR  2130.0     NaN  66918.99
51  2023-03-18  0004199071001696 ATM WDR  5030.0     NaN  55853.99
61  2023-05-05  0004199071001696 ATM WDR  1030.0     NaN  56787.38
63  2023-05-12  0004199071001696 ATM WDR  1530.0     NaN  49227.38
66  2023-05-20  0004199071001696 ATM WDR  2030.0     NaN  55967.38
..         ...                       ...     ...     ...       ...
689 2024-12-18  0004199071001696 ATM WDR  3530.0     NaN      1010
715 2025-01-17  0004199071001696 ATM WDR  3030.0     NaN   2528.22
722 2025-01-24  0004199071001696 ATM WDR  2030.0     NaN   9067.22
726 2025-01-28  0004199071001696 ATM WDR  2030.0     NaN   3807.22
728 2025-01-31  0004199071001696 ATM WDR  2730.0     NaN   1037.22

[163 rows x 5 columns]

Cluster 9:
          date            desiption  debit  credit   balance
118 2023-08-07  0710620915 BILL PYT  100.0     NaN  43633.23
125 2023-08-11  0710620915 BILL PYT  100.0     NaN  25733.23
126 2023-08-12  0710620915 BILL PYT  250.0     NaN  25483.23
144 2023-08-24  0710620915 BILL PYT  200.0     NaN  16553.23
147 2023-08-27  0710620915 BILL PYT  200.0     NaN  11793.23
..         ...                  ...    ...     ...       ...
697 2024-12-31  0710620915 BILL PYT  460.0     NaN      1000
701 2025-01-03  0710620915 BILL PYT  400.0     NaN   8108.22
706 2025-01-07  0710620915 BILL PYT  250.0     NaN   6728.22
712 2025-01-09  0710620915 BILL PYT  360.0     NaN   1000.22
723 2025-01-25  0710620915 BILL PYT  120.0     NaN   8947.22

[94 rows x 5 columns]

Cluster 10:
          date            desiption   debit  credit   balance
109 2023-08-01  0710620915 BILL PYT  300.00     NaN  50423.23
427 2024-04-06  0710620915 BILL PYT   40.00     NaN   4036.51
429 2024-04-08  0710620915 BILL PYT  150.00     NaN   1856.51
433 2024-04-10  0710620915 BILL PYT  150.00     NaN   2546.51
434 2024-04-11  0710620915 BILL PYT  150.00     NaN   2396.51
435 2024-04-11  0710620915 BILL PYT   40.00     NaN   2356.51
437 2024-04-16  0710620915 BILL PYT  326.00     NaN   1000.51
439 2024-04-20  0710620915 BILL PYT  100.00     NaN   5900.51
494 2024-06-21  0710620915 BILL PYT  250.00     NaN   3743.19
576 2024-09-03  0710620915 BILL PYT   50.00     NaN   9547.54
601 2024-09-29  0710620915 BILL PYT  300.00     NaN   1076.54
682 2024-12-15  0710620915 BILL PYT  223.31     NaN      1000
704 2025-01-04  0710620915 BILL PYT  100.00     NaN   7978.22

Cluster 11:
          date            desiption  debit  credit   balance
117 2023-08-06  0760232652 BILL PYT  100.0     NaN  43733.23
122 2023-08-10  0760232652 BILL PYT  150.0     NaN  29393.23
160 2023-09-04  0760232652 BILL PYT  100.0     NaN  18197.97
171 2023-09-14  0760232652 BILL PYT  200.0     NaN  11140.47
177 2023-09-20  0760232652 BILL PYT   80.0     NaN   5090.47
191 2023-10-03  0760232652 BILL PYT  105.0     NaN  21899.43
195 2023-10-06  0760232652 BILL PYT   60.0     NaN  28680.35
258 2023-11-29  0760232652 BILL PYT  129.0     NaN    1296.4
346 2024-02-15   070524534 BILL PYT  455.0     NaN   1920.54
655 2024-11-14  0764502662 BILL PYT  200.0     NaN   1770.38
673 2024-12-02  0760232652 BILL PYT  197.0     NaN  12768.31

Cluster 12:
          date            desiption  debit  credit   balance
105 2023-07-30  0711305386 BILL PYT  200.0     NaN  50810.39
111 2023-08-04  0711305386 BILL PYT  200.0     NaN  34193.23
116 2023-08-06  0711305386 BILL PYT  300.0     NaN  43833.23
596 2024-09-24  0711305386 BILL PYT  200.0     NaN   1086.54
616 2024-10-10  0775170111 BILL PYT  200.0     NaN    6246.4
685 2024-12-15  0711305386 BILL PYT  200.0     NaN      3770