In [1]:
# Step 1: Import necessary libraries
import pandas as pd
import re
from sentence_transformers import SentenceTransformer
import hdbscan
import numpy as np
import time
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_excel('nadilFInalizedDataset.xlsx')

In [3]:
df.head()

        date                 desiption   debit    credit   balance
0 2022-09-29                   CSH DEP     NaN   1000.00      1000
1 2022-10-31                       TRF     NaN  17480.00     18480
2 2022-10-31                       INT     NaN      4.64  18484.64
3 2022-11-06          t ahirt OTHBNK T  6030.0       NaN  12454.64
4 2022-11-06  010001088282101 OTHBNK T  3030.0       NaN   9424.64